body     { background-color : ghostwhite; }
img      { width:100%; }
nav      { list-style-type: none; }
li       { list-style-type: none; color: seagreen}

#navbarDropdown1 {  text-align: left;  color: white; }

h2.headertekst {
  text-align: center;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

.margin_div{
    margin: 40 auto;
    width:50% /* value of your choice which suits your alignment */
}